<div class="grid grid-cols-2 gap-6 p-6 min-h-screen bg-gray-50">
  <div class="flex flex-col space-y-4">
    @if (uploadedFiles.length > 0) {
    <div class="flex flex-wrap gap-2">
      @for (item of uploadedFiles; track item.id) {
      <div class="flex items-center bg-fuchsia-100 text-fuchsia-700 px-3 py-1 rounded-lg shadow-sm">
        <span class="text-sm">{{ item.file.name }}</span>
        <button (click)="removeFile(item.id)" class="ml-2 hover:text-red-500">
          <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px"
            fill="currentColor">
            <path
              d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
          </svg>
        </button>
      </div>
      }
    </div>
    }


    <textarea placeholder="Nhập văn bản..." class="w-full h-40 p-3 border bg-white border-gray-300 rounded-lg resize-none focus:ring-2
      focus:ring-fuchsia-500 focus:outline-none" [(ngModel)]="text">
    </textarea>

    <div class="flex items-center space-x-2">
      <label
        class="flex items-center space-x-2 w-fit bg-purple-500 text-white px-4 py-2 rounded-lg shadow hover:bg-purple-600 transition cursor-pointer"
        title=".mp4">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path
            d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
        </svg>
        <span>Tải video lên</span>
        <input type="file" accept=".mp4" multiple hidden (change)="onFileSelected($event, 'video')">
      </label>

      <label
        class="flex items-center space-x-2 w-fit bg-purple-500 text-white px-4 py-2 rounded-lg shadow hover:bg-purple-600 transition cursor-pointer"
        title=".jpg, .png, .jpeg">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path
            d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
        </svg>
        <span>Tải ảnh lên</span>
        <input type="file" accept=".jpg,.png,.jpeg" multiple hidden (change)="onFileSelected($event, 'image')">
      </label>

      <label
        class="flex items-center space-x-2 w-fit bg-purple-500 text-white px-4 py-2 rounded-lg shadow hover:bg-purple-600 transition cursor-pointer"
        title=".txt, .pdf">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path
            d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
        </svg>
        <span>Tải văn bản lên</span>
        <input type="file" accept=".txt,.pdf" multiple hidden (change)="onFileSelected($event, 'text')">
      </label>

      <label
        class="flex items-center space-x-2 w-fit bg-purple-500 text-white px-4 py-2 rounded-lg shadow hover:bg-purple-600 transition cursor-pointer"
        title=".mp3, .wav">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
          <path
            d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
        </svg>
        <span>Tải âm thanh lên</span>
        <input type="file" accept=".mp3,.wav" multiple hidden (change)="onFileSelected($event, 'audio')">
      </label>
    </div>

    <button
      class="w-full bg-purple-600 text-white px-4 py-3 rounded-lg font-semibold shadow-md hover:bg-purple-700 transition"
      (click)="onSubmit()">
      Dự đoán
    </button>
  </div>

  <div class="flex flex-col space-y-4">
    <div class="flex-1 bg-white border border-gray-300 rounded-lg shadow p-4">
      <p class="text-gray-500 text-center">Đồ thị</p>
    </div>

    <div class="flex-1 bg-white border border-gray-300 rounded-lg shadow p-4 overflow-auto">
      <p class="text-gray-500 text-center">Kết quả</p>
      <div class="space-y-2 mt-4">
        {{ result }}
        <!-- <div class="border border-fuchsia-300 rounded-lg p-2 overflow-auto h-20">
          <p>Lớp 1: ...</p>
        </div>
        <div class="border border-fuchsia-300 rounded-lg p-2 overflow-auto h-20">
          <p>Lớp 2: ...</p>
        </div>
        <div class="border border-fuchsia-300 rounded-lg p-2 overflow-auto h-20">
          <p>Lớp 3: ...</p>
        </div> -->
        ...
      </div>
    </div>
  </div>
</div>